* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}

a {
  text-decoration: none !important;
}